body {
    background-color: #211832;
    font-family: Arial, sans-serif;
    color: #F2E9FF;
}

.card-profile {
    width: 300px;
    margin: 5px auto;
    padding: 20px;
    background-color: #CBA9FF;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}